Name: Chaya Chandana Doddaiggaluru Appajigowda   
      Ramana Bhaskar Kosuru

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:
df = pd.read_csv("/Users/chayachandana/Desktop/Data Viz/Project/Crime_Incidents_in_2024.csv")

In [5]:
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,406114.3548,135259.7851,24155562,2024/10/08 01:56:12+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,5000 - 5099 BLOCK OF C STREET SE,406114.354756,135259.785051,...,009904 2,9904.0,Precinct 104,38.885155,-76.929527,NaN,2024/10/07 21:42:00+00,2024/10/07 22:25:00+00,614425446,NaN
1,397228.9100,138593.0600,24141804,2024/09/14 06:41:09+00,MIDNIGHT,GUN,ROBBERY,1820 - 1899 BLOCK OF 14TH STREET NW,397228.910000,138593.060000,...,004402 1,4402.0,Precinct 22,38.915200,-77.031952,NaN,2024/09/14 06:00:00+00,2024/09/14 06:01:00+00,614425535,NaN
2,397967.0400,138778.0900,24001466,2024/01/03 21:28:08+00,EVENING,OTHERS,THEFT/OTHER,800 - 899 BLOCK OF FLORIDA AVENUE NW,397967.040000,138778.090000,...,003500 3,3500.0,Precinct 37,38.916868,-77.023442,NaN,2024/01/03 20:00:00+00,2024/01/03 21:28:00+00,614425587,NaN
3,403414.2500,139592.6600,24002262,2024/01/05 20:05:47+00,EVENING,OTHERS,THEFT F/AUTO,2700 - 2899 BLOCK OF 31ST PLACE NE,403414.250000,139592.660000,...,009000 1,9000.0,Precinct 139,38.924202,-76.960627,NaN,2024/01/05 11:00:00+00,2024/01/05 12:00:00+00,614425588,NaN
4,400557.9217,132492.2114,24005888,2024/01/12 17:39:30+00,DAY,GUN,ROBBERY,2500 - 2599 BLOCK OF SHERIDAN ROAD SE,400557.921726,132492.211416,...,007407 3,7407.0,Precinct 119,38.860245,-76.993572,NaN,2024/01/12 15:09:00+00,2024/01/12 16:14:00+00,614425589,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23918,398681.8500,145160.3800,24167697,2024/10/29 01:57:14+00,EVENING,OTHERS,THEFT F/AUTO,6924 - 6978 BLOCK OF MAPLE STREET NW,398681.850000,145160.380000,...,001702 2,1702.0,Precinct 63,38.974363,-77.015212,NaN,2024/10/28 20:19:00+00,2024/10/28 23:52:00+00,614978384,NaN
23919,402061.0000,135138.0000,24145368,2024/09/20 14:29:36+00,DAY,OTHERS,MOTOR VEHICLE THEFT,1900 BLOCK OF D STREET SE,402061.000000,135138.000000,...,006804 1,6804.0,Precinct 80,38.884077,-76.976246,NaN,2024/09/19 20:15:00+00,2024/09/20 12:10:00+00,614978385,NaN
23920,398814.1700,138057.7400,24424145,2024/10/28 11:21:41+00,DAY,OTHERS,THEFT/OTHER,100 - 299 BLOCK OF BATES STREET NW,398814.170000,138057.740000,...,004600 2,4600.0,Precinct 19,38.910381,-77.013672,NaN,2024/10/25 19:33:00+00,2024/10/25 19:39:00+00,614978386,NaN
23921,397102.9593,143590.6145,24167635,2024/10/29 01:17:17+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,14TH STREET NW AND NICHOLSON STREET NW,397102.959259,143590.614499,...,002001 1,2001.0,Precinct 53,38.960219,-77.033426,NaN,2024/10/28 20:00:00+00,2024/10/28 20:47:00+00,614978387,NaN
23922,396167.6600,136956.7300,24167467,2024/10/28 16:26:35+00,DAY,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF PENNSYLVANIA AVENUE NW,396167.660000,136956.730000,...,010700 1,10700.0,Precinct 17,38.900455,-77.044180,GOLDEN TRIANGLE,2024/10/28 15:34:00+00,2024/10/28 16:19:00+00,614978388,NaN

In [6]:
df.isnull().sum()

X                           0
Y                           0
CCN                         0
REPORT_DAT                  0
SHIFT                       0
METHOD                      0
OFFENSE                     0
BLOCK                       0
XBLOCK                      0
YBLOCK                      0
WARD                        4
ANC                         4
DISTRICT                  388
PSA                       410
NEIGHBORHOOD_CLUSTER        4
BLOCK_GROUP                11
CENSUS_TRACT               11
VOTING_PRECINCT             4
LATITUDE                    0
LONGITUDE                   0
BID                     19456
START_DATE                  4
END_DATE                 1713
OBJECTID                    0
OCTO_RECORD_ID          23923
dtype: int64

In [8]:
df.dropna()

Empty DataFrame
Columns: [X, Y, CCN, REPORT_DAT, SHIFT, METHOD, OFFENSE, BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT, PSA, NEIGHBORHOOD_CLUSTER, BLOCK_GROUP, CENSUS_TRACT, VOTING_PRECINCT, LATITUDE, LONGITUDE, BID, START_DATE, END_DATE, OBJECTID, OCTO_RECORD_ID]
Index: []

[0 rows x 25 columns]

In [12]:
missing_value = ["N/a", "na",np.nan]
df= pd.read_csv("/Users/chayachandana/Desktop/Data Viz/Project/Crime_Incidents_in_2024.csv", na_values=missing_value)

In [13]:
df.isnull().sum()

X                           0
Y                           0
CCN                         0
REPORT_DAT                  0
SHIFT                       0
METHOD                      0
OFFENSE                     0
BLOCK                       0
XBLOCK                      0
YBLOCK                      0
WARD                        4
ANC                         4
DISTRICT                  388
PSA                       410
NEIGHBORHOOD_CLUSTER        4
BLOCK_GROUP                11
CENSUS_TRACT               11
VOTING_PRECINCT             4
LATITUDE                    0
LONGITUDE                   0
BID                     19456
START_DATE                  4
END_DATE                 1713
OBJECTID                    0
OCTO_RECORD_ID          23923
dtype: int64

In [14]:
df.isnull().any()

X                       False
Y                       False
CCN                     False
REPORT_DAT              False
SHIFT                   False
METHOD                  False
OFFENSE                 False
BLOCK                   False
XBLOCK                  False
YBLOCK                  False
WARD                     True
ANC                      True
DISTRICT                 True
PSA                      True
NEIGHBORHOOD_CLUSTER     True
BLOCK_GROUP              True
CENSUS_TRACT             True
VOTING_PRECINCT          True
LATITUDE                False
LONGITUDE               False
BID                      True
START_DATE               True
END_DATE                 True
OBJECTID                False
OCTO_RECORD_ID           True
dtype: bool

In [15]:
df.dropna()

Empty DataFrame
Columns: [X, Y, CCN, REPORT_DAT, SHIFT, METHOD, OFFENSE, BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT, PSA, NEIGHBORHOOD_CLUSTER, BLOCK_GROUP, CENSUS_TRACT, VOTING_PRECINCT, LATITUDE, LONGITUDE, BID, START_DATE, END_DATE, OBJECTID, OCTO_RECORD_ID]
Index: []

[0 rows x 25 columns]

In [16]:
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,406114.3548,135259.7851,24155562,2024/10/08 01:56:12+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,5000 - 5099 BLOCK OF C STREET SE,406114.354756,135259.785051,...,009904 2,9904.0,Precinct 104,38.885155,-76.929527,NaN,2024/10/07 21:42:00+00,2024/10/07 22:25:00+00,614425446,NaN
1,397228.9100,138593.0600,24141804,2024/09/14 06:41:09+00,MIDNIGHT,GUN,ROBBERY,1820 - 1899 BLOCK OF 14TH STREET NW,397228.910000,138593.060000,...,004402 1,4402.0,Precinct 22,38.915200,-77.031952,NaN,2024/09/14 06:00:00+00,2024/09/14 06:01:00+00,614425535,NaN
2,397967.0400,138778.0900,24001466,2024/01/03 21:28:08+00,EVENING,OTHERS,THEFT/OTHER,800 - 899 BLOCK OF FLORIDA AVENUE NW,397967.040000,138778.090000,...,003500 3,3500.0,Precinct 37,38.916868,-77.023442,NaN,2024/01/03 20:00:00+00,2024/01/03 21:28:00+00,614425587,NaN
3,403414.2500,139592.6600,24002262,2024/01/05 20:05:47+00,EVENING,OTHERS,THEFT F/AUTO,2700 - 2899 BLOCK OF 31ST PLACE NE,403414.250000,139592.660000,...,009000 1,9000.0,Precinct 139,38.924202,-76.960627,NaN,2024/01/05 11:00:00+00,2024/01/05 12:00:00+00,614425588,NaN
4,400557.9217,132492.2114,24005888,2024/01/12 17:39:30+00,DAY,GUN,ROBBERY,2500 - 2599 BLOCK OF SHERIDAN ROAD SE,400557.921726,132492.211416,...,007407 3,7407.0,Precinct 119,38.860245,-76.993572,NaN,2024/01/12 15:09:00+00,2024/01/12 16:14:00+00,614425589,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23918,398681.8500,145160.3800,24167697,2024/10/29 01:57:14+00,EVENING,OTHERS,THEFT F/AUTO,6924 - 6978 BLOCK OF MAPLE STREET NW,398681.850000,145160.380000,...,001702 2,1702.0,Precinct 63,38.974363,-77.015212,NaN,2024/10/28 20:19:00+00,2024/10/28 23:52:00+00,614978384,NaN
23919,402061.0000,135138.0000,24145368,2024/09/20 14:29:36+00,DAY,OTHERS,MOTOR VEHICLE THEFT,1900 BLOCK OF D STREET SE,402061.000000,135138.000000,...,006804 1,6804.0,Precinct 80,38.884077,-76.976246,NaN,2024/09/19 20:15:00+00,2024/09/20 12:10:00+00,614978385,NaN
23920,398814.1700,138057.7400,24424145,2024/10/28 11:21:41+00,DAY,OTHERS,THEFT/OTHER,100 - 299 BLOCK OF BATES STREET NW,398814.170000,138057.740000,...,004600 2,4600.0,Precinct 19,38.910381,-77.013672,NaN,2024/10/25 19:33:00+00,2024/10/25 19:39:00+00,614978386,NaN
23921,397102.9593,143590.6145,24167635,2024/10/29 01:17:17+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,14TH STREET NW AND NICHOLSON STREET NW,397102.959259,143590.614499,...,002001 1,2001.0,Precinct 53,38.960219,-77.033426,NaN,2024/10/28 20:00:00+00,2024/10/28 20:47:00+00,614978387,NaN
23922,396167.6600,136956.7300,24167467,2024/10/28 16:26:35+00,DAY,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF PENNSYLVANIA AVENUE NW,396167.660000,136956.730000,...,010700 1,10700.0,Precinct 17,38.900455,-77.044180,GOLDEN TRIANGLE,2024/10/28 15:34:00+00,2024/10/28 16:19:00+00,614978388,NaN

In [17]:
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,406114.3548,135259.7851,24155562,2024/10/08 01:56:12+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,5000 - 5099 BLOCK OF C STREET SE,406114.354756,135259.785051,...,009904 2,9904.0,Precinct 104,38.885155,-76.929527,NaN,2024/10/07 21:42:00+00,2024/10/07 22:25:00+00,614425446,NaN
1,397228.9100,138593.0600,24141804,2024/09/14 06:41:09+00,MIDNIGHT,GUN,ROBBERY,1820 - 1899 BLOCK OF 14TH STREET NW,397228.910000,138593.060000,...,004402 1,4402.0,Precinct 22,38.915200,-77.031952,NaN,2024/09/14 06:00:00+00,2024/09/14 06:01:00+00,614425535,NaN
2,397967.0400,138778.0900,24001466,2024/01/03 21:28:08+00,EVENING,OTHERS,THEFT/OTHER,800 - 899 BLOCK OF FLORIDA AVENUE NW,397967.040000,138778.090000,...,003500 3,3500.0,Precinct 37,38.916868,-77.023442,NaN,2024/01/03 20:00:00+00,2024/01/03 21:28:00+00,614425587,NaN
3,403414.2500,139592.6600,24002262,2024/01/05 20:05:47+00,EVENING,OTHERS,THEFT F/AUTO,2700 - 2899 BLOCK OF 31ST PLACE NE,403414.250000,139592.660000,...,009000 1,9000.0,Precinct 139,38.924202,-76.960627,NaN,2024/01/05 11:00:00+00,2024/01/05 12:00:00+00,614425588,NaN
4,400557.9217,132492.2114,24005888,2024/01/12 17:39:30+00,DAY,GUN,ROBBERY,2500 - 2599 BLOCK OF SHERIDAN ROAD SE,400557.921726,132492.211416,...,007407 3,7407.0,Precinct 119,38.860245,-76.993572,NaN,2024/01/12 15:09:00+00,2024/01/12 16:14:00+00,614425589,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23918,398681.8500,145160.3800,24167697,2024/10/29 01:57:14+00,EVENING,OTHERS,THEFT F/AUTO,6924 - 6978 BLOCK OF MAPLE STREET NW,398681.850000,145160.380000,...,001702 2,1702.0,Precinct 63,38.974363,-77.015212,NaN,2024/10/28 20:19:00+00,2024/10/28 23:52:00+00,614978384,NaN
23919,402061.0000,135138.0000,24145368,2024/09/20 14:29:36+00,DAY,OTHERS,MOTOR VEHICLE THEFT,1900 BLOCK OF D STREET SE,402061.000000,135138.000000,...,006804 1,6804.0,Precinct 80,38.884077,-76.976246,NaN,2024/09/19 20:15:00+00,2024/09/20 12:10:00+00,614978385,NaN
23920,398814.1700,138057.7400,24424145,2024/10/28 11:21:41+00,DAY,OTHERS,THEFT/OTHER,100 - 299 BLOCK OF BATES STREET NW,398814.170000,138057.740000,...,004600 2,4600.0,Precinct 19,38.910381,-77.013672,NaN,2024/10/25 19:33:00+00,2024/10/25 19:39:00+00,614978386,NaN
23921,397102.9593,143590.6145,24167635,2024/10/29 01:17:17+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,14TH STREET NW AND NICHOLSON STREET NW,397102.959259,143590.614499,...,002001 1,2001.0,Precinct 53,38.960219,-77.033426,NaN,2024/10/28 20:00:00+00,2024/10/28 20:47:00+00,614978387,NaN
23922,396167.6600,136956.7300,24167467,2024/10/28 16:26:35+00,DAY,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF PENNSYLVANIA AVENUE NW,396167.660000,136956.730000,...,010700 1,10700.0,Precinct 17,38.900455,-77.044180,GOLDEN TRIANGLE,2024/10/28 15:34:00+00,2024/10/28 16:19:00+00,614978388,NaN

In [18]:
# Step 1: Convert timestamp columns into datetime variables
timestamp_columns = ['REPORT_DAT', 'START_DATE', 'END_DATE']
for col in timestamp_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')

In [19]:

# Step 2: Remove unnecessary columns
columns_to_drop = ['XBLOCK', 'YBLOCK', 'OCTO_RECORD_ID', 'OBJECTID']
data = df.drop(columns=columns_to_drop, errors='ignore')

In [20]:
# Step 3: Calculate the percentage of missing values for each column
missing_percentage = data.isnull().mean() * 100
print(missing_percentage)

X                        0.000000
Y                        0.000000
CCN                      0.000000
REPORT_DAT               0.000000
SHIFT                    0.000000
METHOD                   0.000000
OFFENSE                  0.000000
BLOCK                    0.000000
WARD                     0.016720
ANC                      0.016720
DISTRICT                 1.621870
PSA                      1.713832
NEIGHBORHOOD_CLUSTER     0.016720
BLOCK_GROUP              0.045981
CENSUS_TRACT             0.045981
VOTING_PRECINCT          0.016720
LATITUDE                 0.000000
LONGITUDE                0.000000
BID                     81.327593
START_DATE               0.016720
END_DATE                 7.160473
dtype: float64

In [21]:
# Step 4: Handle missing values based on their percentage
# Separate columns by missing value thresholds
less_than_5 = missing_percentage[missing_percentage < 5].index
between_5_and_25 = missing_percentage[(missing_percentage >= 5) & (missing_percentage <= 25)].index
more_than_25 = missing_percentage[missing_percentage > 25].index

In [22]:
# (a) Remove rows with missing values in columns where <5% of rows are missing
data = data.dropna(subset=less_than_5, how='any')

In [23]:
# (b) Impute missing values for columns with 5%-25% missing
for col in between_5_and_25:
    if data[col].dtype in ['float64', 'int64']:  # Numerical columns
        data[col].fillna(data[col].median(), inplace=True)
    else:  # Categorical columns
        data[col].fillna(data[col].mode()[0], inplace=True)

/var/folders/3v/2gst68l12qq62yjm9f2kv0l80000gn/T/ipykernel_55649/2891187757.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [24]:
# (c) Impute missing values for columns with more than 25% missing
for col in more_than_25:
    if data[col].dtype in ['float64', 'int64']:  # Numerical columns
        data[col].fillna(data[col].median(), inplace=True)
    else:  # Categorical columns
        data[col].fillna(data[col].mode()[0], inplace=True)

/var/folders/3v/2gst68l12qq62yjm9f2kv0l80000gn/T/ipykernel_55649/425296987.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [25]:
# Step 5: Remove rows where 'END_DATE' is missing
data = data.dropna(subset=['END_DATE'], how='any')

In [26]:
print(data.head())

             X            Y       CCN                REPORT_DAT     SHIFT  \
0  406114.3548  135259.7851  24155562 2024-10-08 01:56:12+00:00   EVENING
1  397228.9100  138593.0600  24141804 2024-09-14 06:41:09+00:00  MIDNIGHT
2  397967.0400  138778.0900  24001466 2024-01-03 21:28:08+00:00   EVENING
3  403414.2500  139592.6600  24002262 2024-01-05 20:05:47+00:00   EVENING
4  400557.9217  132492.2114  24005888 2024-01-12 17:39:30+00:00       DAY

   METHOD              OFFENSE                                  BLOCK  WARD  \
0  OTHERS  MOTOR VEHICLE THEFT       5000 - 5099 BLOCK OF C STREET SE   7.0
1     GUN              ROBBERY    1820 - 1899 BLOCK OF 14TH STREET NW   1.0
2  OTHERS          THEFT/OTHER   800 - 899 BLOCK OF FLORIDA AVENUE NW   1.0
3  OTHERS         THEFT F/AUTO     2700 - 2899 BLOCK OF 31ST PLACE NE   5.0
4     GUN              ROBBERY  2500 - 2599 BLOCK OF SHERIDAN ROAD SE   8.0

  ANC  ...    PSA  NEIGHBORHOOD_CLUSTER BLOCK_GROUP CENSUS_TRACT  \
0  7E  ...  604.0            Cluster 33    009904 2       9904.0
1  1B  ...  305.0             Cluster 3    004402 1       4402.0
2  1B  ...  305.0             Cluster 3    003500 3       3500.0
3  5C  ...  503.0            Cluster 24    009000 1       9000.0
4  8B  ...  703.0            Cluster 37    007407 3       7407.0

   VOTING_PRECINCT   LATITUDE  LONGITUDE       BID                START_DATE  \
0     Precinct 104  38.885155 -76.929527  DOWNTOWN 2024-10-07 21:42:00+00:00
1      Precinct 22  38.915200 -77.031952  DOWNTOWN 2024-09-14 06:00:00+00:00
2      Precinct 37  38.916868 -77.023442  DOWNTOWN 2024-01-03 20:00:00+00:00
3     Precinct 139  38.924202 -76.960627  DOWNTOWN 2024-01-05 11:00:00+00:00
4     Precinct 119  38.860245 -76.993572  DOWNTOWN 2024-01-12 15:09:00+00:00

                   END_DATE
0 2024-10-07 22:25:00+00:00
1 2024-09-14 06:01:00+00:00
2 2024-01-03 21:28:00+00:00
3 2024-01-05 12:00:00+00:00
4 2024-01-12 16:14:00+00:00

[5 rows x 21 columns]

In [27]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 23497 entries, 0 to 23922
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     23497 non-null  float64
 1   Y                     23497 non-null  float64
 2   CCN                   23497 non-null  int64
 3   REPORT_DAT            23497 non-null  datetime64[ns, UTC]
 4   SHIFT                 23497 non-null  object
 5   METHOD                23497 non-null  object
 6   OFFENSE               23497 non-null  object
 7   BLOCK                 23497 non-null  object
 8   WARD                  23497 non-null  float64
 9   ANC                   23497 non-null  object
 10  DISTRICT              23497 non-null  float64
 11  PSA                   23497 non-null  float64
 12  NEIGHBORHOOD_CLUSTER  23497 non-null  object
 13  BLOCK_GROUP           23497 non-null  object
 14  CENSUS_TRACT          23497 non-null  float64
 15  VOTING_PRECINCT       23497 non-null  object
 16  LATITUDE              23497 non-null  float64
 17  LONGITUDE             23497 non-null  float64
 18  BID                   23497 non-null  object
 19  START_DATE            23497 non-null  datetime64[ns, UTC]
 20  END_DATE              23497 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](3), float64(8), int64(1), object(9)
memory usage: 3.9+ MB
None

In [28]:
# Display the number of rows and columns in the cleaned dataset
rows, columns = data.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 23497
Number of columns: 21

In [29]:
df=data
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,WARD,ANC,...,PSA,NEIGHBORHOOD_CLUSTER,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE
0,406114.3548,135259.7851,24155562,2024-10-08 01:56:12+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,5000 - 5099 BLOCK OF C STREET SE,7.0,7E,...,604.0,Cluster 33,009904 2,9904.0,Precinct 104,38.885155,-76.929527,DOWNTOWN,2024-10-07 21:42:00+00:00,2024-10-07 22:25:00+00:00
1,397228.9100,138593.0600,24141804,2024-09-14 06:41:09+00:00,MIDNIGHT,GUN,ROBBERY,1820 - 1899 BLOCK OF 14TH STREET NW,1.0,1B,...,305.0,Cluster 3,004402 1,4402.0,Precinct 22,38.915200,-77.031952,DOWNTOWN,2024-09-14 06:00:00+00:00,2024-09-14 06:01:00+00:00
2,397967.0400,138778.0900,24001466,2024-01-03 21:28:08+00:00,EVENING,OTHERS,THEFT/OTHER,800 - 899 BLOCK OF FLORIDA AVENUE NW,1.0,1B,...,305.0,Cluster 3,003500 3,3500.0,Precinct 37,38.916868,-77.023442,DOWNTOWN,2024-01-03 20:00:00+00:00,2024-01-03 21:28:00+00:00
3,403414.2500,139592.6600,24002262,2024-01-05 20:05:47+00:00,EVENING,OTHERS,THEFT F/AUTO,2700 - 2899 BLOCK OF 31ST PLACE NE,5.0,5C,...,503.0,Cluster 24,009000 1,9000.0,Precinct 139,38.924202,-76.960627,DOWNTOWN,2024-01-05 11:00:00+00:00,2024-01-05 12:00:00+00:00
4,400557.9217,132492.2114,24005888,2024-01-12 17:39:30+00:00,DAY,GUN,ROBBERY,2500 - 2599 BLOCK OF SHERIDAN ROAD SE,8.0,8B,...,703.0,Cluster 37,007407 3,7407.0,Precinct 119,38.860245,-76.993572,DOWNTOWN,2024-01-12 15:09:00+00:00,2024-01-12 16:14:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23918,398681.8500,145160.3800,24167697,2024-10-29 01:57:14+00:00,EVENING,OTHERS,THEFT F/AUTO,6924 - 6978 BLOCK OF MAPLE STREET NW,4.0,4B,...,401.0,Cluster 17,001702 2,1702.0,Precinct 63,38.974363,-77.015212,DOWNTOWN,2024-10-28 20:19:00+00:00,2024-10-28 23:52:00+00:00
23919,402061.0000,135138.0000,24145368,2024-09-20 14:29:36+00:00,DAY,OTHERS,MOTOR VEHICLE THEFT,1900 BLOCK OF D STREET SE,7.0,7F,...,107.0,Cluster 26,006804 1,6804.0,Precinct 80,38.884077,-76.976246,DOWNTOWN,2024-09-19 20:15:00+00:00,2024-09-20 12:10:00+00:00
23920,398814.1700,138057.7400,24424145,2024-10-28 11:21:41+00:00,DAY,OTHERS,THEFT/OTHER,100 - 299 BLOCK OF BATES STREET NW,5.0,5E,...,308.0,Cluster 21,004600 2,4600.0,Precinct 19,38.910381,-77.013672,DOWNTOWN,2024-10-25 19:33:00+00:00,2024-10-25 19:39:00+00:00
23921,397102.9593,143590.6145,24167635,2024-10-29 01:17:17+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,14TH STREET NW AND NICHOLSON STREET NW,4.0,4E,...,403.0,Cluster 18,002001 1,2001.0,Precinct 53,38.960219,-77.033426,DOWNTOWN,2024-10-28 20:00:00+00:00,2024-10-28 20:47:00+00:00
23922,396167.6600,136956.7300,24167467,2024-10-28 16:26:35+00:00,DAY,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF PENNSYLVANIA AVENUE NW,2.0,2C,...,207.0,Cluster 6,010700 1,10700.0,Precinct 17,38.900455,-77.044180,GOLDEN TRIANGLE,2024-10-28 15:34:00+00:00,2024-10-28 16:19:00+00:00

In [30]:
df.isnull().sum()

X                       0
Y                       0
CCN                     0
REPORT_DAT              0
SHIFT                   0
METHOD                  0
OFFENSE                 0
BLOCK                   0
WARD                    0
ANC                     0
DISTRICT                0
PSA                     0
NEIGHBORHOOD_CLUSTER    0
BLOCK_GROUP             0
CENSUS_TRACT            0
VOTING_PRECINCT         0
LATITUDE                0
LONGITUDE               0
BID                     0
START_DATE              0
END_DATE                0
dtype: int64

In [31]:
# Iterate through each column and print unique values
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Column: {column}")
    print(f"Unique Values ({len(unique_values)}): {unique_values}\n")

Column: X
Unique Values (6451): [406114.3548 397228.91   397967.04   ... 394844.47   401013.42
 397102.9593]

Column: Y
Unique Values (6475): [135259.7851 138593.06   138778.09   ... 140127.71   135741.86
 143590.6145]

Column: CCN
Unique Values (23490): [24155562 24141804 24001466 ... 24424145 24167635 24167467]

Column: REPORT_DAT
Unique Values (23450): <DatetimeArray>
['2024-10-08 01:56:12+00:00', '2024-09-14 06:41:09+00:00',
 '2024-01-03 21:28:08+00:00', '2024-01-05 20:05:47+00:00',
 '2024-01-12 17:39:30+00:00', '2024-01-15 05:10:39+00:00',
 '2024-08-06 23:38:38+00:00', '2024-05-20 22:15:02+00:00',
 '2024-06-19 14:54:41+00:00', '2024-06-26 19:01:32+00:00',
 ...
 '2024-10-28 17:01:14+00:00', '2024-10-28 14:44:40+00:00',
 '2024-10-28 19:11:33+00:00', '2024-10-28 22:15:12+00:00',
 '2024-10-28 18:10:33+00:00', '2024-10-29 01:57:14+00:00',
 '2024-09-20 14:29:36+00:00', '2024-10-28 11:21:41+00:00',
 '2024-10-29 01:17:17+00:00', '2024-10-28 16:26:35+00:00']
Length: 23450, dtype: datetime64[ns, UTC]

Column: SHIFT
Unique Values (3): ['EVENING' 'MIDNIGHT' 'DAY']

Column: METHOD
Unique Values (3): ['OTHERS' 'GUN' 'KNIFE']

Column: OFFENSE
Unique Values (9): ['MOTOR VEHICLE THEFT' 'ROBBERY' 'THEFT/OTHER' 'THEFT F/AUTO' 'BURGLARY'
 'HOMICIDE' 'ASSAULT W/DANGEROUS WEAPON' 'SEX ABUSE' 'ARSON']

Column: BLOCK
Unique Values (6550): ['5000 - 5099 BLOCK OF C STREET SE' '1820 - 1899 BLOCK OF 14TH STREET NW'
 '800 - 899 BLOCK OF FLORIDA AVENUE NW' ...
 '2900 - 3099 BLOCK OF CATHEDRAL AVENUE NW'
 '1 - 110 BLOCK OF 13TH STREET SE'
 '14TH STREET NW AND NICHOLSON STREET NW']

Column: WARD
Unique Values (8): [7. 1. 5. 8. 4. 2. 6. 3.]

Column: ANC
Unique Values (46): ['7E' '1B' '5C' '8B' '1A' '5D' '4E' '2E' '7D' '7C' '6E' '4A' '8C' '6A'
 '7F' '5F' '7B' '4B' '2B' '5A' '6C' '8A' '2F' '5B' '6D' '2G' '2A' '3C'
 '2C' '4C' '6B' '3E' '4D' '1C' '1D' '8E' '8F' '1E' '3A' '5E' '3B' '3F'
 '8D' '3/4G' '3D' '2D']

Column: DISTRICT
Unique Values (7): [6. 3. 5. 7. 4. 2. 1.]

Column: PSA
Unique Values (57): [604. 305. 503. 703. 301. 302. 506. 403. 206. 601. 602. 102. 608. 401.
 705. 104. 501. 605. 402. 306. 405. 702. 208. 607. 307. 502. 408. 406.
 606. 103. 308. 207. 203. 101. 404. 504. 107. 202. 407. 303. 707. 507.
 209. 204. 706. 106. 304. 409. 603. 105. 704. 201. 505. 701. 108. 708.
 205.]

Column: NEIGHBORHOOD_CLUSTER
Unique Values (45): ['Cluster 33' 'Cluster 3' 'Cluster 24' 'Cluster 37' 'Cluster 6'
 'Cluster 2' 'Cluster 23' 'Cluster 18' 'Cluster 4' 'Cluster 29'
 'Cluster 31' 'Cluster 8' 'Cluster 17' 'Cluster 22' 'Cluster 39'
 'Cluster 25' 'Cluster 30' 'Cluster 34' 'Cluster 7' 'Cluster 20'
 'Cluster 36' 'Cluster 21' 'Cluster 19' 'Cluster 35' 'Cluster 9'
 'Cluster 5' 'Cluster 15' 'Cluster 26' 'Cluster 11' 'Cluster 1'
 'Cluster 27' 'Cluster 32' 'Cluster 14' 'Cluster 16' 'Cluster 12'
 'Cluster 38' 'Cluster 10' 'Cluster 43' 'Cluster 28' 'Cluster 13'
 'Cluster 45' 'Cluster 44' 'Cluster 40' 'Cluster 41' 'Cluster 46']

Column: BLOCK_GROUP
Unique Values (568): ['009904 2' '004402 1' '003500 3' '009000 1' '007407 3' '004300 3'
 '003000 2' '008803 1' '002002 2' '000102 3' '009601 1' '007806 1'
 '004704 2' '007804 3' '009000 3' '001804 2' '011100 3' '003000 1'
 '009804 1' '008410 1' '007803 1' '008702 3' '008302 2' '009902 2'
 '001901 1' '005202 3' '011100 1' '004801 2' '009511 1' '010602 3'
 '008402 1' '007502 1' '004202 1' '007601 2' '005004 2' '008701 2'
 '005502 3' '002900 2' '009508 3' '007604 3' '009400 2' '010202 2'
 '004801 1' '005303 2' '005001 2' '004802 1' '005202 2' '008301 2'
 '005503 1' '000600 1' '008802 2' '010700 1' '005503 2' '004902 2'
 '005801 2' '002503 1' '007804 1' '010700 2' '003400 2' '009503 2'
 '006900 1' '001100 4' '002201 1' '003901 2' '009803 1' '007901 3'
 '002801 2' '003801 2' '005802 2' '000501 1' '008903 3' '009801 1'
 '006600 1' '006500 1' '007803 4' '010202 5' '010100 2' '003600 2'
 '004401 3' '010500 3' '009504 1' '004703 4' '007202 2' '003100 2'
 '009603 3' '007601 1' '009508 1' '003600 3' '001002 2' '008904 1'
 '009204 1' '007401 2' '004401 1' '007708 1' '006801 2' '002202 2'
 '001600 2' '001304 2' '009905 1' '004001 1' '010201 2' '007304 1'
 '005003 1' '005602 3' '007403 2' '007703 4' '005203 2' '009507 1'
 '007203 1' '007201 2' '005601 3' '008802 3' '007806 2' '003200 3'
 '010603 3' '010601 1' '007708 2' '001702 2' '006600 2' '006700 2'
 '004801 3' '001804 3' '007407 1' '000704 1' '007000 2' '010800 4'
 '007408 2' '007803 3' '002600 2' '005802 1' '005802 5' '004600 2'
 '007809 2' '000702 3' '001301 4' '002002 3' '009508 2' '007809 1'
 '008402 2' '003802 2' '007304 3' '003302 2' '002504 1' '003701 2'
 '007604 4' '008803 2' '001304 1' '009803 3' '009505 3' '007000 1'
 '009509 2' '000101 1' '009301 4' '001100 1' '000102 1' '002201 3'
 '010100 3' '001303 2' '004901 2' '007903 1' '010602 4' '007203 2'
 '009905 2' '007203 3' '007901 4' '007603 3' '002702 3' '005502 1'
 '009901 2' '008701 1' '010300 3' '007703 1' '009102 4' '001303 1'
 '009201 2' '001303 4' '009204 2' '010400 3' '011100 2' '002702 1'
 '009102 2' '002400 1' '009906 1' '002503 2' '009400 3' '004002 3'
 '002802 1' '008804 1' '002501 2' '007709 1' '006700 1' '006802 2'
 '009000 2' '010100 1' '007504 1' '007409 1' '007100 1' '007601 3'
 '002802 3' '001702 1' '008200 1' '000502 1' '003802 3' '008002 2'
 '009700 3' '007807 1' '002102 3' '007401 1' '006400 2' '001804 1'
 '009810 2' '010601 2' '002900 1' '003702 1' '000202 4' '004600 1'
 '007601 5' '011001 3' '001100 2' '007503 1' '000102 2' '001200 4'
 '009603 2' '007407 2' '001901 4' '009602 3' '008002 1' '010603 1'
 '009505 1' '010400 2' '008804 2' '003500 2' '004001 3' '009201 1'
 '004002 2' '004402 2' '007406 1' '010602 2' '009804 2' '009102 3'
 '001401 2' '007604 2' '010800 3' '001600 1' '010500 4' '000802 2'
 '004703 3' '002501 1' '000600 3' '003301 2' '007707 1' '007201 1'
 '010900 2' '003400 3' '007808 1' '009510 3' '009802 2' '005004 1'
 '009807 1' '002504 2' '007707 3' '009907 1' '003302 1' '000300 3'
 '005003 2' '009503 3' '005900 2' '001003 3' '003802 1' '001004 2'
 '004702 4' '010800 1' '003600 1' '008702 2' '006802 1' '004300 2'
 '000704 2' '009603 1' '008903 1' '004704 1' '003702 2' '010800 6'
 '007409 3' '006500 2' '004703 2' '004902 3' '002202 1' '980000 1'
 '007807 2' '007703 3' '006900 2' '007605 3' '007601 4' '009905 3'
 '010202 1' '005302 3' '000903 1' '001401 1' '005004 3' '009807 2'
 '010500 5' '002101 2' '001901 2' '002802 2' '009602 2' '007408 1'
 '000300 4' '009510 1' '007304 2' '004902 1' '008904 2' '004401 2'
 '000702 1' '004202 2' '002101 1' '009604 1' '004901 1' '005203 1'
 '004002 1' '009302 1' '006700 3' '008702 1' '005001 1' '008302 1'
 '003100 1' '001402 3' '001902 2' '007409 2' '000201 1' '001003 2'
 '003301 3' '007304 4' '002704 2' '005602 1' '009509 3' '000903 2'
 '007803 2' '005302 2' '001301 2' '007404 3' '002101 4' '008903 2'
 '011002 2' '002400 4' '002702 2' '009510 2' '001200 1' '003200 4'
 '002102 1' '004300 4' '008200 2' '001002 1' '004702 1' '009902 1'
 '001500 4' '003500 1' '006801 1' '002703 1' '007703 2' '003400 4'
 '010603 2' '009102 1' '000201 2' '000202 3' '007605 1' '001002 4'
 '009904 1' '008200 3' '009807 3' '002102 6' '009301 2' '010300 1'
 '008302 3' '003400 5' '007709 2' '009803 2' '005203 3' '002703 2'
 '002101 3' '002302 2' '007100 2' '007201 4' '007603 2' '002301 2'
 '005303 3' '007406 2' '000400 2' '004100 1' '007403 1' '005202 1'
 '007901 2' '004901 3' '001004 1' '003701 1' '008301 1' '007603 4'
 '003301 1' '007202 1' '000202 2' '010400 1' '008904 3' '009203 2'
 '002400 2' '002301 1' '007502 3' '001500 1' '007203 4' '008802 4'
 '000300 1' '000802 1' '010500 2' '010202 6' '001500 5' '007804 2'
 '003200 2' '010201 1' '008001 2' '000501 2' '004702 3' '005302 1'
 '002102 2' '004802 2' '003902 2' '007100 3' '008100 2' '007504 2'
 '007808 2' '003400 1' '002102 5' '007808 3' '005602 2' '009504 2'
 '002201 2' '007603 1' '002801 1' '007404 1' '001902 1' '007404 2'
 '007901 1' '004702 2' '001200 3' '009811 1' '002102 4' '007605 4'
 '008001 3' '000600 2' '002001 2' '001004 3' '004001 4' '000502 2'
 '007503 2' '002101 5' '007707 2' '009903 1' '009604 2' '009907 2'
 '009903 2' '010300 2' '009301 3' '009503 1' '001500 3' '009203 1'
 '004702 5' '003901 1' '005501 2' '009901 1' '009301 1' '009509 1'
 '009700 2' '001002 3' '001600 3' '000501 3' '005900 1' '001901 3'
 '009505 2' '009811 3' '002302 1' '004201 3' '000804 2' '003902 1'
 '002704 1' '009400 1' '001500 2' '002702 4' '010201 3' '000803 2'
 '010202 4' '000300 2' '001303 3' '007502 2' '002400 3' '007605 2'
 '008001 1' '000902 2' '010602 1' '001003 1' '000202 1' '008200 4'
 '002202 3' '003200 1' '004100 2' '009810 1' '000400 1' '008100 1'
 '009904 3' '002002 1' '001803 2' '007604 1' '005501 1' '008802 1'
 '005502 2' '010900 1' '001304 3' '006804 1' '009811 2' '001200 2'
 '000600 4' '001803 1' '007202 3' '005601 2' '009802 1' '002600 1'
 '005802 4' '000803 1' '000902 1' '004201 1' '004001 2' '005601 1'
 '005801 1' '001600 4' '005802 3' '004201 2' '001402 1' '002001 1'
 '001304 4' '000703 2' '006400 1' '008100 3' '011001 1' '007301 3'
 '009508 4' '001301 1' '001803 3' '003801 1' '009400 4' '011002 1'
 '000703 1' '001100 3' '001301 3' '000804 3' '010500 1' '000804 1'
 '000904 2' '005303 1' '010800 2' '002302 3' '004300 1' '009700 1'
 '000702 2' '011001 2' '004100 3' '000803 3' '009602 1' '001402 2'
 '007201 3' '004703 1' '000904 1' '010202 3']

Column: CENSUS_TRACT
Unique Values (206): [9.9040e+03 4.4020e+03 3.5000e+03 9.0000e+03 7.4070e+03 4.3000e+03
 3.0000e+03 8.8030e+03 2.0020e+03 1.0200e+02 9.6010e+03 7.8060e+03
 4.7040e+03 7.8040e+03 1.8040e+03 1.1100e+04 9.8040e+03 8.4100e+03
 7.8030e+03 8.7020e+03 8.3020e+03 9.9020e+03 1.9010e+03 5.2020e+03
 4.8010e+03 9.5110e+03 1.0602e+04 8.4020e+03 7.5020e+03 4.2020e+03
 7.6010e+03 5.0040e+03 8.7010e+03 5.5020e+03 2.9000e+03 9.5080e+03
 7.6040e+03 9.4000e+03 1.0202e+04 5.3030e+03 5.0010e+03 4.8020e+03
 8.3010e+03 5.5030e+03 6.0000e+02 8.8020e+03 1.0700e+04 4.9020e+03
 5.8010e+03 2.5030e+03 3.4000e+03 9.5030e+03 6.9000e+03 1.1000e+03
 2.2010e+03 3.9010e+03 9.8030e+03 7.9010e+03 2.8010e+03 3.8010e+03
 5.8020e+03 5.0100e+02 8.9030e+03 9.8010e+03 6.6000e+03 6.5000e+03
 1.0100e+04 3.6000e+03 4.4010e+03 1.0500e+04 9.5040e+03 4.7030e+03
 7.2020e+03 3.1000e+03 9.6030e+03 1.0020e+03 8.9040e+03 9.2040e+03
 7.4010e+03 7.7080e+03 6.8010e+03 2.2020e+03 1.6000e+03 1.3040e+03
 9.9050e+03 4.0010e+03 1.0201e+04 7.3040e+03 5.0030e+03 5.6020e+03
 7.4030e+03 7.7030e+03 5.2030e+03 9.5070e+03 7.2030e+03 7.2010e+03
 5.6010e+03 3.2000e+03 1.0603e+04 1.0601e+04 1.7020e+03 6.7000e+03
 7.0400e+02 7.0000e+03 1.0800e+04 7.4080e+03 2.6000e+03 4.6000e+03
 7.8090e+03 7.0200e+02 1.3010e+03 3.8020e+03 3.3020e+03 2.5040e+03
 3.7010e+03 9.5050e+03 9.5090e+03 1.0100e+02 9.3010e+03 1.3030e+03
 4.9010e+03 7.9030e+03 7.6030e+03 2.7020e+03 9.9010e+03 1.0300e+04
 9.1020e+03 9.2010e+03 1.0400e+04 2.4000e+03 9.9060e+03 4.0020e+03
 2.8020e+03 8.8040e+03 2.5010e+03 7.7090e+03 6.8020e+03 7.5040e+03
 7.4090e+03 7.1000e+03 8.2000e+03 5.0200e+02 8.0020e+03 9.7000e+03
 7.8070e+03 2.1020e+03 6.4000e+03 9.8100e+03 3.7020e+03 2.0200e+02
 1.1001e+04 7.5030e+03 1.2000e+03 9.6020e+03 7.4060e+03 1.4010e+03
 8.0200e+02 3.3010e+03 7.7070e+03 1.0900e+04 7.8080e+03 9.5100e+03
 9.8020e+03 9.8070e+03 9.9070e+03 3.0000e+02 5.9000e+03 1.0030e+03
 1.0040e+03 4.7020e+03 9.8000e+05 7.6050e+03 5.3020e+03 9.0300e+02
 2.1010e+03 9.6040e+03 9.3020e+03 1.4020e+03 1.9020e+03 2.0100e+02
 2.7040e+03 7.4040e+03 1.1002e+04 1.5000e+03 2.7030e+03 2.3020e+03
 2.3010e+03 4.0000e+02 4.1000e+03 9.2030e+03 8.0010e+03 3.9020e+03
 8.1000e+03 9.8110e+03 2.0010e+03 9.9030e+03 5.5010e+03 4.2010e+03
 8.0400e+02 8.0300e+02 9.0200e+02 1.8030e+03 6.8040e+03 7.0300e+02
 7.3010e+03 9.0400e+02]

Column: VOTING_PRECINCT
Unique Values (144): ['Precinct 104' 'Precinct 22' 'Precinct 37' 'Precinct 139' 'Precinct 119'
 'Precinct 36' 'Precinct 76' 'Precinct 54' 'Precinct 5' 'Precinct 92'
 'Precinct 93' 'Precinct 1' 'Precinct 97' 'Precinct 61' 'Precinct 72'
 'Precinct 39' 'Precinct 122' 'Precinct 82' 'Precinct 99' 'Precinct 75'
 'Precinct 83' 'Precinct 110' 'Precinct 58' 'Precinct 16' 'Precinct 71'
 'Precinct 137' 'Precinct 68' 'Precinct 134' 'Precinct 14' 'Precinct 133'
 'Precinct 17' 'Precinct 41' 'Precinct 66' 'Precinct 113' 'Precinct 70'
 'Precinct 142' 'Precinct 18' 'Precinct 15' 'Precinct 84' 'Precinct 4'
 'Precinct 27' 'Precinct 77' 'Precinct 129' 'Precinct 47' 'Precinct 98'
 'Precinct 91' 'Precinct 32' 'Precinct 55' 'Precinct 35' 'Precinct 124'
 'Precinct 81' 'Precinct 24' 'Precinct 136' 'Precinct 78' 'Precinct 121'
 'Precinct 89' 'Precinct 128' 'Precinct 131' 'Precinct 38' 'Precinct 102'
 'Precinct 23' 'Precinct 29' 'Precinct 79' 'Precinct 74' 'Precinct 132'
 'Precinct 87' 'Precinct 62' 'Precinct 34' 'Precinct 25' 'Precinct 120'
 'Precinct 3' 'Precinct 116' 'Precinct 107' 'Precinct 65' 'Precinct 144'
 'Precinct 63' 'Precinct 88' 'Precinct 21' 'Precinct 60' 'Precinct 118'
 'Precinct 28' 'Precinct 90' 'Precinct 2' 'Precinct 115' 'Precinct 48'
 'Precinct 19' 'Precinct 94' 'Precinct 11' 'Precinct 138' 'Precinct 49'
 'Precinct 44' 'Precinct 73' 'Precinct 141' 'Precinct 80' 'Precinct 105'
 'Precinct 109' 'Precinct 103' 'Precinct 45' 'Precinct 69' 'Precinct 43'
 'Precinct 111' 'Precinct 114' 'Precinct 140' 'Precinct 85' 'Precinct 42'
 'Precinct 26' 'Precinct 86' 'Precinct 95' 'Precinct 57' 'Precinct 127'
 'Precinct 6' 'Precinct 33' 'Precinct 59' 'Precinct 100' 'Precinct 123'
 'Precinct 50' 'Precinct 7' 'Precinct 135' 'Precinct 106' 'Precinct 126'
 'Precinct 96' 'Precinct 125' 'Precinct 56' 'Precinct 143' 'Precinct 30'
 'Precinct 31' 'Precinct 130' 'Precinct 112' 'Precinct 9' 'Precinct 101'
 'Precinct 40' 'Precinct 117' 'Precinct 64' 'Precinct 10' 'Precinct 51'
 'Precinct 20' 'Precinct 46' 'Precinct 12' 'Precinct 13' 'Precinct 67'
 'Precinct 53' 'Precinct 108' 'Precinct 8' 'Precinct 52']

Column: LATITUDE
Unique Values (6558): [38.88515532 38.91519954 38.91686837 ... 38.92901341 38.88951871
 38.96021858]

Column: LONGITUDE
Unique Values (6558): [-76.9295272  -77.03195247 -77.0234419  ... -77.05945813 -76.98831882
 -77.03342586]

Column: BID
Unique Values (12): ['DOWNTOWN' 'GEORGETOWN' 'NOMA' 'DUPONT CIRCLE' 'SOUTHWEST'
 'GOLDEN TRIANGLE' 'CAPITOL HILL' 'MOUNT VERNON TRIANGLE CID'
 'CAPITOL RIVERFRONT' 'ADAMS MORGAN' 'ANACOSTIA' 'FRIENDSHIP HEIGHTS']

Column: START_DATE
Unique Values (21191): <DatetimeArray>
['2024-10-07 21:42:00+00:00', '2024-09-14 06:00:00+00:00',
 '2024-01-03 20:00:00+00:00', '2024-01-05 11:00:00+00:00',
 '2024-01-12 15:09:00+00:00', '2024-01-14 23:35:00+00:00',
 '2024-08-06 20:42:00+00:00', '2024-05-20 21:21:00+00:00',
 '2024-06-19 13:39:00+00:00', '2024-06-26 12:52:00+00:00',
 ...
 '2024-10-28 12:54:00+00:00', '2024-10-28 15:45:00+00:00',
 '2024-10-28 13:51:00+00:00', '2024-10-28 17:52:00+00:00',
 '2024-10-28 21:28:00+00:00', '2024-10-28 20:19:00+00:00',
 '2024-09-19 20:15:00+00:00', '2024-10-25 19:33:00+00:00',
 '2024-10-28 20:00:00+00:00', '2024-10-28 15:34:00+00:00']
Length: 21191, dtype: datetime64[ns, UTC]

Column: END_DATE
Unique Values (19667): <DatetimeArray>
['2024-10-07 22:25:00+00:00', '2024-09-14 06:01:00+00:00',
 '2024-01-03 21:28:00+00:00', '2024-01-05 12:00:00+00:00',
 '2024-01-12 16:14:00+00:00', '2024-01-15 00:18:00+00:00',
 '2024-08-06 23:26:00+00:00', '2024-05-20 22:30:00+00:00',
 '2024-06-19 14:15:00+00:00', '2024-06-26 15:20:00+00:00',
 ...
 '2024-10-28 20:14:00+00:00', '2024-10-28 09:40:00+00:00',
 '2024-10-28 13:21:00+00:00', '2024-10-28 14:00:00+00:00',
 '2024-10-28 18:46:00+00:00', '2024-10-28 21:29:00+00:00',
 '2024-10-28 17:51:00+00:00', '2024-10-28 23:52:00+00:00',
 '2024-10-25 19:39:00+00:00', '2024-10-28 16:19:00+00:00']
Length: 19667, dtype: datetime64[ns, UTC]

In [32]:
df['REPORT_DAT'] = pd.to_datetime(df['REPORT_DAT'])

# Extract month and week from the REPORT_DAT column
df['Month'] = df['REPORT_DAT'].dt.month
df['Week'] = df['REPORT_DAT'].dt.isocalendar().week

# Summarize data for monthly and weekly counts
monthly_counts = df.groupby('Month').size().reset_index(name='Counts')
weekly_counts = df.groupby('Week').size().reset_index(name='Counts')

# Display the summaries
print("Monthly Counts:")
print(monthly_counts)

print("\nWeekly Counts:")
print(weekly_counts)

Monthly Counts:
   Month  Counts
0      1    2300
1      2    2155
2      3    2004
3      4    2072
4      5    2380
5      6    2364
6      7    2476
7      8    2496
8      9    2571
9     10    2679

Weekly Counts:
    Week  Counts
0      1     472
1      2     495
2      3     476
3      4     593
4      5     560
5      6     556
6      7     488
7      8     522
8      9     461
9     10     408
10    11     487
11    12     454
12    13     487
13    14     468
14    15     463
15    16     484
16    17     491
17    18     457
18    19     505
19    20     548
20    21     576
21    22     604
22    23     529
23    24     530
24    25     557
25    26     604
26    27     527
27    28     520
28    29     573
29    30     559
30    31     598
31    32     549
32    33     580
33    34     637
34    35     495
35    36     518
36    37     604
37    38     622
38    39     662
39    40     599
40    41     719
41    42     667
42    43     672
43    44     121

In [35]:
# Ensure the REPORT_DAT column is in datetime format
df['REPORT_DAT'] = pd.to_datetime(df['REPORT_DAT'])

# Define a function to map months to seasons
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'

# Apply the function to create a Seasons column
df['Season'] = df['REPORT_DAT'].dt.month.apply(get_season)

# Display the updated dataset (first few rows)
print(df[['REPORT_DAT', 'Season']].head())

                 REPORT_DAT  Season
0 2024-10-08 01:56:12+00:00    Fall
1 2024-09-14 06:41:09+00:00    Fall
2 2024-01-03 21:28:08+00:00  Winter
3 2024-01-05 20:05:47+00:00  Winter
4 2024-01-12 17:39:30+00:00  Winter

In [40]:
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,WARD,ANC,...,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,Month,Week,Season
0,406114.3548,135259.7851,24155562,2024-10-08 01:56:12+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,5000 - 5099 BLOCK OF C STREET SE,7.0,7E,...,9904.0,Precinct 104,38.885155,-76.929527,DOWNTOWN,2024-10-07 21:42:00+00:00,2024-10-07 22:25:00+00:00,10,41,Fall
1,397228.9100,138593.0600,24141804,2024-09-14 06:41:09+00:00,MIDNIGHT,GUN,ROBBERY,1820 - 1899 BLOCK OF 14TH STREET NW,1.0,1B,...,4402.0,Precinct 22,38.915200,-77.031952,DOWNTOWN,2024-09-14 06:00:00+00:00,2024-09-14 06:01:00+00:00,9,37,Fall
2,397967.0400,138778.0900,24001466,2024-01-03 21:28:08+00:00,EVENING,OTHERS,THEFT/OTHER,800 - 899 BLOCK OF FLORIDA AVENUE NW,1.0,1B,...,3500.0,Precinct 37,38.916868,-77.023442,DOWNTOWN,2024-01-03 20:00:00+00:00,2024-01-03 21:28:00+00:00,1,1,Winter
3,403414.2500,139592.6600,24002262,2024-01-05 20:05:47+00:00,EVENING,OTHERS,THEFT F/AUTO,2700 - 2899 BLOCK OF 31ST PLACE NE,5.0,5C,...,9000.0,Precinct 139,38.924202,-76.960627,DOWNTOWN,2024-01-05 11:00:00+00:00,2024-01-05 12:00:00+00:00,1,1,Winter
4,400557.9217,132492.2114,24005888,2024-01-12 17:39:30+00:00,DAY,GUN,ROBBERY,2500 - 2599 BLOCK OF SHERIDAN ROAD SE,8.0,8B,...,7407.0,Precinct 119,38.860245,-76.993572,DOWNTOWN,2024-01-12 15:09:00+00:00,2024-01-12 16:14:00+00:00,1,2,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23918,398681.8500,145160.3800,24167697,2024-10-29 01:57:14+00:00,EVENING,OTHERS,THEFT F/AUTO,6924 - 6978 BLOCK OF MAPLE STREET NW,4.0,4B,...,1702.0,Precinct 63,38.974363,-77.015212,DOWNTOWN,2024-10-28 20:19:00+00:00,2024-10-28 23:52:00+00:00,10,44,Fall
23919,402061.0000,135138.0000,24145368,2024-09-20 14:29:36+00:00,DAY,OTHERS,MOTOR VEHICLE THEFT,1900 BLOCK OF D STREET SE,7.0,7F,...,6804.0,Precinct 80,38.884077,-76.976246,DOWNTOWN,2024-09-19 20:15:00+00:00,2024-09-20 12:10:00+00:00,9,38,Fall
23920,398814.1700,138057.7400,24424145,2024-10-28 11:21:41+00:00,DAY,OTHERS,THEFT/OTHER,100 - 299 BLOCK OF BATES STREET NW,5.0,5E,...,4600.0,Precinct 19,38.910381,-77.013672,DOWNTOWN,2024-10-25 19:33:00+00:00,2024-10-25 19:39:00+00:00,10,44,Fall
23921,397102.9593,143590.6145,24167635,2024-10-29 01:17:17+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,14TH STREET NW AND NICHOLSON STREET NW,4.0,4E,...,2001.0,Precinct 53,38.960219,-77.033426,DOWNTOWN,2024-10-28 20:00:00+00:00,2024-10-28 20:47:00+00:00,10,44,Fall
23922,396167.6600,136956.7300,24167467,2024-10-28 16:26:35+00:00,DAY,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF PENNSYLVANIA AVENUE NW,2.0,2C,...,10700.0,Precinct 17,38.900455,-77.044180,GOLDEN TRIANGLE,2024-10-28 15:34:00+00:00,2024-10-28 16:19:00+00:00,10,44,Fall

In [45]:
# Extract directional region (NW, NE, SE, SW) from BLOCK
data['Region'] = data['BLOCK'].str.extract(r'(\bNW\b|\bNE\b|\bSE\b|\bSW\b)')

# Extract street name from BLOCK, assumes "BLOCK OF <Street Name>"
data['Street'] = data['BLOCK'].str.extract(r'BLOCK OF (.+)')

# Display the first few rows to verify
print(data[['BLOCK', 'Region', 'Street']].head())

# Optionally save the updated dataset to a new CSV file
data.to_csv('updated_crime_data.csv', index=False)

                                   BLOCK Region             Street
0       5000 - 5099 BLOCK OF C STREET SE     SE        C STREET SE
1    1820 - 1899 BLOCK OF 14TH STREET NW     NW     14TH STREET NW
2   800 - 899 BLOCK OF FLORIDA AVENUE NW     NW  FLORIDA AVENUE NW
3     2700 - 2899 BLOCK OF 31ST PLACE NE     NE      31ST PLACE NE
4  2500 - 2599 BLOCK OF SHERIDAN ROAD SE     SE   SHERIDAN ROAD SE

In [46]:
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,WARD,ANC,...,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,Month,Week,Season,Street,Region
0,406114.3548,135259.7851,24155562,2024-10-08 01:56:12+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,5000 - 5099 BLOCK OF C STREET SE,7.0,7E,...,38.885155,-76.929527,DOWNTOWN,2024-10-07 21:42:00+00:00,2024-10-07 22:25:00+00:00,10,41,Fall,C STREET SE,SE
1,397228.9100,138593.0600,24141804,2024-09-14 06:41:09+00:00,MIDNIGHT,GUN,ROBBERY,1820 - 1899 BLOCK OF 14TH STREET NW,1.0,1B,...,38.915200,-77.031952,DOWNTOWN,2024-09-14 06:00:00+00:00,2024-09-14 06:01:00+00:00,9,37,Fall,14TH STREET NW,NW
2,397967.0400,138778.0900,24001466,2024-01-03 21:28:08+00:00,EVENING,OTHERS,THEFT/OTHER,800 - 899 BLOCK OF FLORIDA AVENUE NW,1.0,1B,...,38.916868,-77.023442,DOWNTOWN,2024-01-03 20:00:00+00:00,2024-01-03 21:28:00+00:00,1,1,Winter,FLORIDA AVENUE NW,NW
3,403414.2500,139592.6600,24002262,2024-01-05 20:05:47+00:00,EVENING,OTHERS,THEFT F/AUTO,2700 - 2899 BLOCK OF 31ST PLACE NE,5.0,5C,...,38.924202,-76.960627,DOWNTOWN,2024-01-05 11:00:00+00:00,2024-01-05 12:00:00+00:00,1,1,Winter,31ST PLACE NE,NE
4,400557.9217,132492.2114,24005888,2024-01-12 17:39:30+00:00,DAY,GUN,ROBBERY,2500 - 2599 BLOCK OF SHERIDAN ROAD SE,8.0,8B,...,38.860245,-76.993572,DOWNTOWN,2024-01-12 15:09:00+00:00,2024-01-12 16:14:00+00:00,1,2,Winter,SHERIDAN ROAD SE,SE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23918,398681.8500,145160.3800,24167697,2024-10-29 01:57:14+00:00,EVENING,OTHERS,THEFT F/AUTO,6924 - 6978 BLOCK OF MAPLE STREET NW,4.0,4B,...,38.974363,-77.015212,DOWNTOWN,2024-10-28 20:19:00+00:00,2024-10-28 23:52:00+00:00,10,44,Fall,MAPLE STREET NW,NW
23919,402061.0000,135138.0000,24145368,2024-09-20 14:29:36+00:00,DAY,OTHERS,MOTOR VEHICLE THEFT,1900 BLOCK OF D STREET SE,7.0,7F,...,38.884077,-76.976246,DOWNTOWN,2024-09-19 20:15:00+00:00,2024-09-20 12:10:00+00:00,9,38,Fall,D STREET SE,SE
23920,398814.1700,138057.7400,24424145,2024-10-28 11:21:41+00:00,DAY,OTHERS,THEFT/OTHER,100 - 299 BLOCK OF BATES STREET NW,5.0,5E,...,38.910381,-77.013672,DOWNTOWN,2024-10-25 19:33:00+00:00,2024-10-25 19:39:00+00:00,10,44,Fall,BATES STREET NW,NW
23921,397102.9593,143590.6145,24167635,2024-10-29 01:17:17+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,14TH STREET NW AND NICHOLSON STREET NW,4.0,4E,...,38.960219,-77.033426,DOWNTOWN,2024-10-28 20:00:00+00:00,2024-10-28 20:47:00+00:00,10,44,Fall,NaN,NW
23922,396167.6600,136956.7300,24167467,2024-10-28 16:26:35+00:00,DAY,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF PENNSYLVANIA AVENUE NW,2.0,2C,...,38.900455,-77.044180,GOLDEN TRIANGLE,2024-10-28 15:34:00+00:00,2024-10-28 16:19:00+00:00,10,44,Fall,PENNSYLVANIA AVENUE NW,NW

In [47]:
# Iterate through each column and print unique values
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Column: {column}")
    print(f"Unique Values ({len(unique_values)}): {unique_values}\n")

Column: X
Unique Values (6451): [406114.3548 397228.91   397967.04   ... 394844.47   401013.42
 397102.9593]

Column: Y
Unique Values (6475): [135259.7851 138593.06   138778.09   ... 140127.71   135741.86
 143590.6145]

Column: CCN
Unique Values (23490): [24155562 24141804 24001466 ... 24424145 24167635 24167467]

Column: REPORT_DAT
Unique Values (23450): <DatetimeArray>
['2024-10-08 01:56:12+00:00', '2024-09-14 06:41:09+00:00',
 '2024-01-03 21:28:08+00:00', '2024-01-05 20:05:47+00:00',
 '2024-01-12 17:39:30+00:00', '2024-01-15 05:10:39+00:00',
 '2024-08-06 23:38:38+00:00', '2024-05-20 22:15:02+00:00',
 '2024-06-19 14:54:41+00:00', '2024-06-26 19:01:32+00:00',
 ...
 '2024-10-28 17:01:14+00:00', '2024-10-28 14:44:40+00:00',
 '2024-10-28 19:11:33+00:00', '2024-10-28 22:15:12+00:00',
 '2024-10-28 18:10:33+00:00', '2024-10-29 01:57:14+00:00',
 '2024-09-20 14:29:36+00:00', '2024-10-28 11:21:41+00:00',
 '2024-10-29 01:17:17+00:00', '2024-10-28 16:26:35+00:00']
Length: 23450, dtype: datetime64[ns, UTC]

Column: SHIFT
Unique Values (3): ['EVENING' 'MIDNIGHT' 'DAY']

Column: METHOD
Unique Values (3): ['OTHERS' 'GUN' 'KNIFE']

Column: OFFENSE
Unique Values (9): ['MOTOR VEHICLE THEFT' 'ROBBERY' 'THEFT/OTHER' 'THEFT F/AUTO' 'BURGLARY'
 'HOMICIDE' 'ASSAULT W/DANGEROUS WEAPON' 'SEX ABUSE' 'ARSON']

Column: BLOCK
Unique Values (6550): ['5000 - 5099 BLOCK OF C STREET SE' '1820 - 1899 BLOCK OF 14TH STREET NW'
 '800 - 899 BLOCK OF FLORIDA AVENUE NW' ...
 '2900 - 3099 BLOCK OF CATHEDRAL AVENUE NW'
 '1 - 110 BLOCK OF 13TH STREET SE'
 '14TH STREET NW AND NICHOLSON STREET NW']

Column: WARD
Unique Values (8): [7. 1. 5. 8. 4. 2. 6. 3.]

Column: ANC
Unique Values (46): ['7E' '1B' '5C' '8B' '1A' '5D' '4E' '2E' '7D' '7C' '6E' '4A' '8C' '6A'
 '7F' '5F' '7B' '4B' '2B' '5A' '6C' '8A' '2F' '5B' '6D' '2G' '2A' '3C'
 '2C' '4C' '6B' '3E' '4D' '1C' '1D' '8E' '8F' '1E' '3A' '5E' '3B' '3F'
 '8D' '3/4G' '3D' '2D']

Column: DISTRICT
Unique Values (7): [6. 3. 5. 7. 4. 2. 1.]

Column: PSA
Unique Values (57): [604. 305. 503. 703. 301. 302. 506. 403. 206. 601. 602. 102. 608. 401.
 705. 104. 501. 605. 402. 306. 405. 702. 208. 607. 307. 502. 408. 406.
 606. 103. 308. 207. 203. 101. 404. 504. 107. 202. 407. 303. 707. 507.
 209. 204. 706. 106. 304. 409. 603. 105. 704. 201. 505. 701. 108. 708.
 205.]

Column: NEIGHBORHOOD_CLUSTER
Unique Values (45): ['Cluster 33' 'Cluster 3' 'Cluster 24' 'Cluster 37' 'Cluster 6'
 'Cluster 2' 'Cluster 23' 'Cluster 18' 'Cluster 4' 'Cluster 29'
 'Cluster 31' 'Cluster 8' 'Cluster 17' 'Cluster 22' 'Cluster 39'
 'Cluster 25' 'Cluster 30' 'Cluster 34' 'Cluster 7' 'Cluster 20'
 'Cluster 36' 'Cluster 21' 'Cluster 19' 'Cluster 35' 'Cluster 9'
 'Cluster 5' 'Cluster 15' 'Cluster 26' 'Cluster 11' 'Cluster 1'
 'Cluster 27' 'Cluster 32' 'Cluster 14' 'Cluster 16' 'Cluster 12'
 'Cluster 38' 'Cluster 10' 'Cluster 43' 'Cluster 28' 'Cluster 13'
 'Cluster 45' 'Cluster 44' 'Cluster 40' 'Cluster 41' 'Cluster 46']

Column: BLOCK_GROUP
Unique Values (568): ['009904 2' '004402 1' '003500 3' '009000 1' '007407 3' '004300 3'
 '003000 2' '008803 1' '002002 2' '000102 3' '009601 1' '007806 1'
 '004704 2' '007804 3' '009000 3' '001804 2' '011100 3' '003000 1'
 '009804 1' '008410 1' '007803 1' '008702 3' '008302 2' '009902 2'
 '001901 1' '005202 3' '011100 1' '004801 2' '009511 1' '010602 3'
 '008402 1' '007502 1' '004202 1' '007601 2' '005004 2' '008701 2'
 '005502 3' '002900 2' '009508 3' '007604 3' '009400 2' '010202 2'
 '004801 1' '005303 2' '005001 2' '004802 1' '005202 2' '008301 2'
 '005503 1' '000600 1' '008802 2' '010700 1' '005503 2' '004902 2'
 '005801 2' '002503 1' '007804 1' '010700 2' '003400 2' '009503 2'
 '006900 1' '001100 4' '002201 1' '003901 2' '009803 1' '007901 3'
 '002801 2' '003801 2' '005802 2' '000501 1' '008903 3' '009801 1'
 '006600 1' '006500 1' '007803 4' '010202 5' '010100 2' '003600 2'
 '004401 3' '010500 3' '009504 1' '004703 4' '007202 2' '003100 2'
 '009603 3' '007601 1' '009508 1' '003600 3' '001002 2' '008904 1'
 '009204 1' '007401 2' '004401 1' '007708 1' '006801 2' '002202 2'
 '001600 2' '001304 2' '009905 1' '004001 1' '010201 2' '007304 1'
 '005003 1' '005602 3' '007403 2' '007703 4' '005203 2' '009507 1'
 '007203 1' '007201 2' '005601 3' '008802 3' '007806 2' '003200 3'
 '010603 3' '010601 1' '007708 2' '001702 2' '006600 2' '006700 2'
 '004801 3' '001804 3' '007407 1' '000704 1' '007000 2' '010800 4'
 '007408 2' '007803 3' '002600 2' '005802 1' '005802 5' '004600 2'
 '007809 2' '000702 3' '001301 4' '002002 3' '009508 2' '007809 1'
 '008402 2' '003802 2' '007304 3' '003302 2' '002504 1' '003701 2'
 '007604 4' '008803 2' '001304 1' '009803 3' '009505 3' '007000 1'
 '009509 2' '000101 1' '009301 4' '001100 1' '000102 1' '002201 3'
 '010100 3' '001303 2' '004901 2' '007903 1' '010602 4' '007203 2'
 '009905 2' '007203 3' '007901 4' '007603 3' '002702 3' '005502 1'
 '009901 2' '008701 1' '010300 3' '007703 1' '009102 4' '001303 1'
 '009201 2' '001303 4' '009204 2' '010400 3' '011100 2' '002702 1'
 '009102 2' '002400 1' '009906 1' '002503 2' '009400 3' '004002 3'
 '002802 1' '008804 1' '002501 2' '007709 1' '006700 1' '006802 2'
 '009000 2' '010100 1' '007504 1' '007409 1' '007100 1' '007601 3'
 '002802 3' '001702 1' '008200 1' '000502 1' '003802 3' '008002 2'
 '009700 3' '007807 1' '002102 3' '007401 1' '006400 2' '001804 1'
 '009810 2' '010601 2' '002900 1' '003702 1' '000202 4' '004600 1'
 '007601 5' '011001 3' '001100 2' '007503 1' '000102 2' '001200 4'
 '009603 2' '007407 2' '001901 4' '009602 3' '008002 1' '010603 1'
 '009505 1' '010400 2' '008804 2' '003500 2' '004001 3' '009201 1'
 '004002 2' '004402 2' '007406 1' '010602 2' '009804 2' '009102 3'
 '001401 2' '007604 2' '010800 3' '001600 1' '010500 4' '000802 2'
 '004703 3' '002501 1' '000600 3' '003301 2' '007707 1' '007201 1'
 '010900 2' '003400 3' '007808 1' '009510 3' '009802 2' '005004 1'
 '009807 1' '002504 2' '007707 3' '009907 1' '003302 1' '000300 3'
 '005003 2' '009503 3' '005900 2' '001003 3' '003802 1' '001004 2'
 '004702 4' '010800 1' '003600 1' '008702 2' '006802 1' '004300 2'
 '000704 2' '009603 1' '008903 1' '004704 1' '003702 2' '010800 6'
 '007409 3' '006500 2' '004703 2' '004902 3' '002202 1' '980000 1'
 '007807 2' '007703 3' '006900 2' '007605 3' '007601 4' '009905 3'
 '010202 1' '005302 3' '000903 1' '001401 1' '005004 3' '009807 2'
 '010500 5' '002101 2' '001901 2' '002802 2' '009602 2' '007408 1'
 '000300 4' '009510 1' '007304 2' '004902 1' '008904 2' '004401 2'
 '000702 1' '004202 2' '002101 1' '009604 1' '004901 1' '005203 1'
 '004002 1' '009302 1' '006700 3' '008702 1' '005001 1' '008302 1'
 '003100 1' '001402 3' '001902 2' '007409 2' '000201 1' '001003 2'
 '003301 3' '007304 4' '002704 2' '005602 1' '009509 3' '000903 2'
 '007803 2' '005302 2' '001301 2' '007404 3' '002101 4' '008903 2'
 '011002 2' '002400 4' '002702 2' '009510 2' '001200 1' '003200 4'
 '002102 1' '004300 4' '008200 2' '001002 1' '004702 1' '009902 1'
 '001500 4' '003500 1' '006801 1' '002703 1' '007703 2' '003400 4'
 '010603 2' '009102 1' '000201 2' '000202 3' '007605 1' '001002 4'
 '009904 1' '008200 3' '009807 3' '002102 6' '009301 2' '010300 1'
 '008302 3' '003400 5' '007709 2' '009803 2' '005203 3' '002703 2'
 '002101 3' '002302 2' '007100 2' '007201 4' '007603 2' '002301 2'
 '005303 3' '007406 2' '000400 2' '004100 1' '007403 1' '005202 1'
 '007901 2' '004901 3' '001004 1' '003701 1' '008301 1' '007603 4'
 '003301 1' '007202 1' '000202 2' '010400 1' '008904 3' '009203 2'
 '002400 2' '002301 1' '007502 3' '001500 1' '007203 4' '008802 4'
 '000300 1' '000802 1' '010500 2' '010202 6' '001500 5' '007804 2'
 '003200 2' '010201 1' '008001 2' '000501 2' '004702 3' '005302 1'
 '002102 2' '004802 2' '003902 2' '007100 3' '008100 2' '007504 2'
 '007808 2' '003400 1' '002102 5' '007808 3' '005602 2' '009504 2'
 '002201 2' '007603 1' '002801 1' '007404 1' '001902 1' '007404 2'
 '007901 1' '004702 2' '001200 3' '009811 1' '002102 4' '007605 4'
 '008001 3' '000600 2' '002001 2' '001004 3' '004001 4' '000502 2'
 '007503 2' '002101 5' '007707 2' '009903 1' '009604 2' '009907 2'
 '009903 2' '010300 2' '009301 3' '009503 1' '001500 3' '009203 1'
 '004702 5' '003901 1' '005501 2' '009901 1' '009301 1' '009509 1'
 '009700 2' '001002 3' '001600 3' '000501 3' '005900 1' '001901 3'
 '009505 2' '009811 3' '002302 1' '004201 3' '000804 2' '003902 1'
 '002704 1' '009400 1' '001500 2' '002702 4' '010201 3' '000803 2'
 '010202 4' '000300 2' '001303 3' '007502 2' '002400 3' '007605 2'
 '008001 1' '000902 2' '010602 1' '001003 1' '000202 1' '008200 4'
 '002202 3' '003200 1' '004100 2' '009810 1' '000400 1' '008100 1'
 '009904 3' '002002 1' '001803 2' '007604 1' '005501 1' '008802 1'
 '005502 2' '010900 1' '001304 3' '006804 1' '009811 2' '001200 2'
 '000600 4' '001803 1' '007202 3' '005601 2' '009802 1' '002600 1'
 '005802 4' '000803 1' '000902 1' '004201 1' '004001 2' '005601 1'
 '005801 1' '001600 4' '005802 3' '004201 2' '001402 1' '002001 1'
 '001304 4' '000703 2' '006400 1' '008100 3' '011001 1' '007301 3'
 '009508 4' '001301 1' '001803 3' '003801 1' '009400 4' '011002 1'
 '000703 1' '001100 3' '001301 3' '000804 3' '010500 1' '000804 1'
 '000904 2' '005303 1' '010800 2' '002302 3' '004300 1' '009700 1'
 '000702 2' '011001 2' '004100 3' '000803 3' '009602 1' '001402 2'
 '007201 3' '004703 1' '000904 1' '010202 3']

Column: CENSUS_TRACT
Unique Values (206): [9.9040e+03 4.4020e+03 3.5000e+03 9.0000e+03 7.4070e+03 4.3000e+03
 3.0000e+03 8.8030e+03 2.0020e+03 1.0200e+02 9.6010e+03 7.8060e+03
 4.7040e+03 7.8040e+03 1.8040e+03 1.1100e+04 9.8040e+03 8.4100e+03
 7.8030e+03 8.7020e+03 8.3020e+03 9.9020e+03 1.9010e+03 5.2020e+03
 4.8010e+03 9.5110e+03 1.0602e+04 8.4020e+03 7.5020e+03 4.2020e+03
 7.6010e+03 5.0040e+03 8.7010e+03 5.5020e+03 2.9000e+03 9.5080e+03
 7.6040e+03 9.4000e+03 1.0202e+04 5.3030e+03 5.0010e+03 4.8020e+03
 8.3010e+03 5.5030e+03 6.0000e+02 8.8020e+03 1.0700e+04 4.9020e+03
 5.8010e+03 2.5030e+03 3.4000e+03 9.5030e+03 6.9000e+03 1.1000e+03
 2.2010e+03 3.9010e+03 9.8030e+03 7.9010e+03 2.8010e+03 3.8010e+03
 5.8020e+03 5.0100e+02 8.9030e+03 9.8010e+03 6.6000e+03 6.5000e+03
 1.0100e+04 3.6000e+03 4.4010e+03 1.0500e+04 9.5040e+03 4.7030e+03
 7.2020e+03 3.1000e+03 9.6030e+03 1.0020e+03 8.9040e+03 9.2040e+03
 7.4010e+03 7.7080e+03 6.8010e+03 2.2020e+03 1.6000e+03 1.3040e+03
 9.9050e+03 4.0010e+03 1.0201e+04 7.3040e+03 5.0030e+03 5.6020e+03
 7.4030e+03 7.7030e+03 5.2030e+03 9.5070e+03 7.2030e+03 7.2010e+03
 5.6010e+03 3.2000e+03 1.0603e+04 1.0601e+04 1.7020e+03 6.7000e+03
 7.0400e+02 7.0000e+03 1.0800e+04 7.4080e+03 2.6000e+03 4.6000e+03
 7.8090e+03 7.0200e+02 1.3010e+03 3.8020e+03 3.3020e+03 2.5040e+03
 3.7010e+03 9.5050e+03 9.5090e+03 1.0100e+02 9.3010e+03 1.3030e+03
 4.9010e+03 7.9030e+03 7.6030e+03 2.7020e+03 9.9010e+03 1.0300e+04
 9.1020e+03 9.2010e+03 1.0400e+04 2.4000e+03 9.9060e+03 4.0020e+03
 2.8020e+03 8.8040e+03 2.5010e+03 7.7090e+03 6.8020e+03 7.5040e+03
 7.4090e+03 7.1000e+03 8.2000e+03 5.0200e+02 8.0020e+03 9.7000e+03
 7.8070e+03 2.1020e+03 6.4000e+03 9.8100e+03 3.7020e+03 2.0200e+02
 1.1001e+04 7.5030e+03 1.2000e+03 9.6020e+03 7.4060e+03 1.4010e+03
 8.0200e+02 3.3010e+03 7.7070e+03 1.0900e+04 7.8080e+03 9.5100e+03
 9.8020e+03 9.8070e+03 9.9070e+03 3.0000e+02 5.9000e+03 1.0030e+03
 1.0040e+03 4.7020e+03 9.8000e+05 7.6050e+03 5.3020e+03 9.0300e+02
 2.1010e+03 9.6040e+03 9.3020e+03 1.4020e+03 1.9020e+03 2.0100e+02
 2.7040e+03 7.4040e+03 1.1002e+04 1.5000e+03 2.7030e+03 2.3020e+03
 2.3010e+03 4.0000e+02 4.1000e+03 9.2030e+03 8.0010e+03 3.9020e+03
 8.1000e+03 9.8110e+03 2.0010e+03 9.9030e+03 5.5010e+03 4.2010e+03
 8.0400e+02 8.0300e+02 9.0200e+02 1.8030e+03 6.8040e+03 7.0300e+02
 7.3010e+03 9.0400e+02]

Column: VOTING_PRECINCT
Unique Values (144): ['Precinct 104' 'Precinct 22' 'Precinct 37' 'Precinct 139' 'Precinct 119'
 'Precinct 36' 'Precinct 76' 'Precinct 54' 'Precinct 5' 'Precinct 92'
 'Precinct 93' 'Precinct 1' 'Precinct 97' 'Precinct 61' 'Precinct 72'
 'Precinct 39' 'Precinct 122' 'Precinct 82' 'Precinct 99' 'Precinct 75'
 'Precinct 83' 'Precinct 110' 'Precinct 58' 'Precinct 16' 'Precinct 71'
 'Precinct 137' 'Precinct 68' 'Precinct 134' 'Precinct 14' 'Precinct 133'
 'Precinct 17' 'Precinct 41' 'Precinct 66' 'Precinct 113' 'Precinct 70'
 'Precinct 142' 'Precinct 18' 'Precinct 15' 'Precinct 84' 'Precinct 4'
 'Precinct 27' 'Precinct 77' 'Precinct 129' 'Precinct 47' 'Precinct 98'
 'Precinct 91' 'Precinct 32' 'Precinct 55' 'Precinct 35' 'Precinct 124'
 'Precinct 81' 'Precinct 24' 'Precinct 136' 'Precinct 78' 'Precinct 121'
 'Precinct 89' 'Precinct 128' 'Precinct 131' 'Precinct 38' 'Precinct 102'
 'Precinct 23' 'Precinct 29' 'Precinct 79' 'Precinct 74' 'Precinct 132'
 'Precinct 87' 'Precinct 62' 'Precinct 34' 'Precinct 25' 'Precinct 120'
 'Precinct 3' 'Precinct 116' 'Precinct 107' 'Precinct 65' 'Precinct 144'
 'Precinct 63' 'Precinct 88' 'Precinct 21' 'Precinct 60' 'Precinct 118'
 'Precinct 28' 'Precinct 90' 'Precinct 2' 'Precinct 115' 'Precinct 48'
 'Precinct 19' 'Precinct 94' 'Precinct 11' 'Precinct 138' 'Precinct 49'
 'Precinct 44' 'Precinct 73' 'Precinct 141' 'Precinct 80' 'Precinct 105'
 'Precinct 109' 'Precinct 103' 'Precinct 45' 'Precinct 69' 'Precinct 43'
 'Precinct 111' 'Precinct 114' 'Precinct 140' 'Precinct 85' 'Precinct 42'
 'Precinct 26' 'Precinct 86' 'Precinct 95' 'Precinct 57' 'Precinct 127'
 'Precinct 6' 'Precinct 33' 'Precinct 59' 'Precinct 100' 'Precinct 123'
 'Precinct 50' 'Precinct 7' 'Precinct 135' 'Precinct 106' 'Precinct 126'
 'Precinct 96' 'Precinct 125' 'Precinct 56' 'Precinct 143' 'Precinct 30'
 'Precinct 31' 'Precinct 130' 'Precinct 112' 'Precinct 9' 'Precinct 101'
 'Precinct 40' 'Precinct 117' 'Precinct 64' 'Precinct 10' 'Precinct 51'
 'Precinct 20' 'Precinct 46' 'Precinct 12' 'Precinct 13' 'Precinct 67'
 'Precinct 53' 'Precinct 108' 'Precinct 8' 'Precinct 52']

Column: LATITUDE
Unique Values (6558): [38.88515532 38.91519954 38.91686837 ... 38.92901341 38.88951871
 38.96021858]

Column: LONGITUDE
Unique Values (6558): [-76.9295272  -77.03195247 -77.0234419  ... -77.05945813 -76.98831882
 -77.03342586]

Column: BID
Unique Values (12): ['DOWNTOWN' 'GEORGETOWN' 'NOMA' 'DUPONT CIRCLE' 'SOUTHWEST'
 'GOLDEN TRIANGLE' 'CAPITOL HILL' 'MOUNT VERNON TRIANGLE CID'
 'CAPITOL RIVERFRONT' 'ADAMS MORGAN' 'ANACOSTIA' 'FRIENDSHIP HEIGHTS']

Column: START_DATE
Unique Values (21191): <DatetimeArray>
['2024-10-07 21:42:00+00:00', '2024-09-14 06:00:00+00:00',
 '2024-01-03 20:00:00+00:00', '2024-01-05 11:00:00+00:00',
 '2024-01-12 15:09:00+00:00', '2024-01-14 23:35:00+00:00',
 '2024-08-06 20:42:00+00:00', '2024-05-20 21:21:00+00:00',
 '2024-06-19 13:39:00+00:00', '2024-06-26 12:52:00+00:00',
 ...
 '2024-10-28 12:54:00+00:00', '2024-10-28 15:45:00+00:00',
 '2024-10-28 13:51:00+00:00', '2024-10-28 17:52:00+00:00',
 '2024-10-28 21:28:00+00:00', '2024-10-28 20:19:00+00:00',
 '2024-09-19 20:15:00+00:00', '2024-10-25 19:33:00+00:00',
 '2024-10-28 20:00:00+00:00', '2024-10-28 15:34:00+00:00']
Length: 21191, dtype: datetime64[ns, UTC]

Column: END_DATE
Unique Values (19667): <DatetimeArray>
['2024-10-07 22:25:00+00:00', '2024-09-14 06:01:00+00:00',
 '2024-01-03 21:28:00+00:00', '2024-01-05 12:00:00+00:00',
 '2024-01-12 16:14:00+00:00', '2024-01-15 00:18:00+00:00',
 '2024-08-06 23:26:00+00:00', '2024-05-20 22:30:00+00:00',
 '2024-06-19 14:15:00+00:00', '2024-06-26 15:20:00+00:00',
 ...
 '2024-10-28 20:14:00+00:00', '2024-10-28 09:40:00+00:00',
 '2024-10-28 13:21:00+00:00', '2024-10-28 14:00:00+00:00',
 '2024-10-28 18:46:00+00:00', '2024-10-28 21:29:00+00:00',
 '2024-10-28 17:51:00+00:00', '2024-10-28 23:52:00+00:00',
 '2024-10-25 19:39:00+00:00', '2024-10-28 16:19:00+00:00']
Length: 19667, dtype: datetime64[ns, UTC]

Column: Month
Unique Values (10): [10  9  1  8  5  6  3  7  2  4]

Column: Week
Unique Values (44): <IntegerArray>
[41, 37,  1,  2,  3, 32, 21, 25, 26, 11, 23, 24, 27, 36,  8, 28, 10, 17,  5,
 33, 15, 42, 12, 13, 39, 19,  9,  7, 22,  4, 40, 18, 16, 43, 20, 29, 30, 31,
 34, 35, 14,  6, 38, 44]
Length: 44, dtype: UInt32

Column: Season
Unique Values (4): ['Fall' 'Winter' 'Summer' 'Spring']

Column: Street
Unique Values (1220): ['C STREET SE' '14TH STREET NW' 'FLORIDA AVENUE NW' ...
 'COLUMBIA STREET NW' 'GRANT PLACE NE' 'BEECH STREET NW']

Column: Region
Unique Values (5): ['SE' 'NW' 'NE' nan 'SW']

In [48]:
# Check data types of all columns
print(data.dtypes)

# Use .info() to get additional details, including non-null counts
data.info()

X                                   float64
Y                                   float64
CCN                                   int64
REPORT_DAT              datetime64[ns, UTC]
SHIFT                                object
METHOD                               object
OFFENSE                              object
BLOCK                                object
WARD                                float64
ANC                                  object
DISTRICT                            float64
PSA                                 float64
NEIGHBORHOOD_CLUSTER                 object
BLOCK_GROUP                          object
CENSUS_TRACT                        float64
VOTING_PRECINCT                      object
LATITUDE                            float64
LONGITUDE                           float64
BID                                  object
START_DATE              datetime64[ns, UTC]
END_DATE                datetime64[ns, UTC]
Month                                 int32
Week                                 UInt32
Season                               object
Street                               object
Region                               object
dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 23497 entries, 0 to 23922
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     23497 non-null  float64
 1   Y                     23497 non-null  float64
 2   CCN                   23497 non-null  int64
 3   REPORT_DAT            23497 non-null  datetime64[ns, UTC]
 4   SHIFT                 23497 non-null  object
 5   METHOD                23497 non-null  object
 6   OFFENSE               23497 non-null  object
 7   BLOCK                 23497 non-null  object
 8   WARD                  23497 non-null  float64
 9   ANC                   23497 non-null  object
 10  DISTRICT              23497 non-null  float64
 11  PSA                   23497 non-null  float64
 12  NEIGHBORHOOD_CLUSTER  23497 non-null  object
 13  BLOCK_GROUP           23497 non-null  object
 14  CENSUS_TRACT          23497 non-null  float64
 15  VOTING_PRECINCT       23497 non-null  object
 16  LATITUDE              23497 non-null  float64
 17  LONGITUDE             23497 non-null  float64
 18  BID                   23497 non-null  object
 19  START_DATE            23497 non-null  datetime64[ns, UTC]
 20  END_DATE              23497 non-null  datetime64[ns, UTC]
 21  Month                 23497 non-null  int32
 22  Week                  23497 non-null  UInt32
 23  Season                23497 non-null  object
 24  Street                22672 non-null  object
 25  Region                23205 non-null  object
dtypes: UInt32(1), datetime64[ns, UTC](3), float64(8), int32(1), int64(1), object(12)
memory usage: 4.7+ MB

In [50]:
df.isnull().sum()

X                         0
Y                         0
CCN                       0
REPORT_DAT                0
SHIFT                     0
METHOD                    0
OFFENSE                   0
BLOCK                     0
WARD                      0
ANC                       0
DISTRICT                  0
PSA                       0
NEIGHBORHOOD_CLUSTER      0
BLOCK_GROUP               0
CENSUS_TRACT              0
VOTING_PRECINCT           0
LATITUDE                  0
LONGITUDE                 0
BID                       0
START_DATE                0
END_DATE                  0
Month                     0
Week                      0
Season                    0
Street                  825
Region                  292
dtype: int64

In [53]:
# Drop rows with null values in 'Street' and 'Region'
data.dropna(subset=['Street', 'Region'], inplace=True)

In [54]:
df.isnull().sum()

X                       0
Y                       0
CCN                     0
REPORT_DAT              0
SHIFT                   0
METHOD                  0
OFFENSE                 0
BLOCK                   0
WARD                    0
ANC                     0
DISTRICT                0
PSA                     0
NEIGHBORHOOD_CLUSTER    0
BLOCK_GROUP             0
CENSUS_TRACT            0
VOTING_PRECINCT         0
LATITUDE                0
LONGITUDE               0
BID                     0
START_DATE              0
END_DATE                0
Month                   0
Week                    0
Season                  0
Street                  0
Region                  0
dtype: int64

In [55]:
df.to_csv('cleaned_dataset.csv', index=False)

print("Cleaned dataset saved to 'cleaned_dataset.csv'")

Cleaned dataset saved to 'cleaned_dataset.csv'